# Exercise Set 4: Data Structuring 1

*Afternoon, August 13, 2019*

In this Exercise Set we will apply some of the basic things we have learned with pandas.

#### Load modules
We begin by loading relevant packages.

In [1]:
import numpy as np
import pandas as pd

##  Exercise Section 4.1: Weather, part 1

Some data sources are open and easy to collect data from. They can be 'scraped' as is and they are already in a table format. This Exercise part of exercises is the first part of three that work with weather data, the follow ups are Exercise Sections 6.1 and 7.1. Our source will be National Oceanic and Atmospheric Administration (NOAA) which have a global data collection going back a couple of centuries. This collection is called Global Historical Climatology Network (GHCN). A description of GHCN can be found [here](https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/readme.txt).


> **Ex. 4.1.1:** Use Pandas' CSV reader to fetch  daily data weather from 1864 for various stations - available [here](https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/). 

> *Hint 1*: for compressed files you may need to specify the keyword `compression`.

> *Hint 2*: keyword `header` can be specified as the CSV has no column names.

> *Hint 3*: Specify the path, as the URL linking directly to the 1864 file.

In [17]:
# [Answer to Ex. 4.1.1]
# Copied from https://gist.github.com/Kristianuruplarsen/be3a14b226fc4c4d7b62c39de70307e4
url = 'https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/1864.csv.gz'
df_weather = pd.read_csv(url,
                         compression='gzip',
                         header=None).iloc[:,:4]
# display dataframe
display(df_weather.head())

             0         1     2    3
0  ITE00100550  18640101  TMAX   10
1  ITE00100550  18640101  TMIN  -23
2  ITE00100550  18640101  PRCP   25
3  ASN00079028  18640101  PRCP    0
4  USC00064757  18640101  PRCP  119


> **Ex. 4.1.2:** Structure your weather DataFrame by using only the relevant columns (station identifier, data, observation type, observation value), rename them. Make sure observations are correctly formated (how many decimals should we add? one?).

> *Hint:* rename can be done with `df.columns=COLS` where `COLS` is a list of column names.

In [18]:
# [Answer to Ex. 4.1.2]

df_weather.columns = ['station', 'datetime', 'obs_type', 'obs_value']


display(df_weather.head())

       station  datetime obs_type  obs_value
0  ITE00100550  18640101     TMAX         10
1  ITE00100550  18640101     TMIN        -23
2  ITE00100550  18640101     PRCP         25
3  ASN00079028  18640101     PRCP          0
4  USC00064757  18640101     PRCP        119


> **Ex. 4.1.3:**  Select data for the station `ITE00100550` and only observations for maximal temperature. Make a copy of the DataFrame. Explain in a one or two sentences how copying works.

> *Hint 1*: the `&` operator works elementwise on boolean series (like `and` in core python).

> *Hint 2*: copying of the dataframe is done with the `copy` method for DataFrames.

In [19]:
# [Answer to Ex. 4.1.3]

df_weather['obs_value'] = df_weather['obs_value'] / 10 # Formatting obs_value to celsius
# Selecting specific weather station and selecting obs_type max in a combined condition and make a copy
# The copy preserves the original dataframe and applies the changes to the new, here df_select
df_select = df_weather[(df_weather.station == 'ITE00100550') & (df_weather.obs_type == 'TMAX')].copy()

display(df_select.head())

         station  datetime obs_type  obs_value
0    ITE00100550  18640101     TMAX        1.0
75   ITE00100550  18640102     TMAX        0.8
152  ITE00100550  18640103     TMAX       -2.8
227  ITE00100550  18640104     TMAX        0.0
305  ITE00100550  18640105     TMAX       -1.9

> **Ex. 4.1.4:** Make a new column called `TMAX_F` where you have converted the temperature variables to Fahrenheit. 

> *Hint*: Conversion is $F = 32 + 1.8*C$ where $F$ is Fahrenheit and $C$ is Celsius.

In [20]:
# [Answer to Ex. 4.1.4]
# transformating weather temperature to Fahrenheit
df_select['TMAX_F'] = 32 + 1.8 * df_select['obs_value']

display(df_select.head())

         station  datetime obs_type  obs_value  TMAX_F
0    ITE00100550  18640101     TMAX        1.0   33.80
75   ITE00100550  18640102     TMAX        0.8   33.44
152  ITE00100550  18640103     TMAX       -2.8   26.96
227  ITE00100550  18640104     TMAX        0.0   32.00
305  ITE00100550  18640105     TMAX       -1.9   28.58

> **Ex 4.1.5:**  Inspect the indices, are they following the sequence of natural numbers, 0,1,2,...? If not, reset the index and make sure to drop the old.

In [25]:
# [Answer to Ex. 4.1.5]

df_sorted = df_select.reset_index(drop=True).sort_values(by=['datetime'])

display(df_sorted.head())

       station  datetime obs_type  obs_value  TMAX_F
0  ITE00100550  18640101     TMAX        1.0   33.80
1  ITE00100550  18640102     TMAX        0.8   33.44
2  ITE00100550  18640103     TMAX       -2.8   26.96
3  ITE00100550  18640104     TMAX        0.0   32.00
4  ITE00100550  18640105     TMAX       -1.9   28.58

> **Ex 4.1.6:** Make a new DataFrame where you have sorted by the maximum temperature. What is the date for the first and last observations?

In [55]:
# [Answer to Ex. 4.1.6]
df_maxtemp = df_sorted.reset_index(drop=True).sort_values(by=['obs_value'])

display(df_maxtemp.head())
display(df_maxtemp.tail())

print('First observation on:\n',pd.to_datetime(df_maxtemp['datetime'][df_maxtemp.index[0]], format = '%Y%m%d'),
        '\nLast observation on:\n',pd.to_datetime(df_maxtemp['datetime'][df_maxtemp.index[-1]], format = '%Y%m%d')
     )

        station  datetime obs_type  obs_value  TMAX_F
16  ITE00100550  18640117     TMAX       -6.3   20.66
17  ITE00100550  18640118     TMAX       -5.0   23.00
13  ITE00100550  18640114     TMAX       -5.0   23.00
12  ITE00100550  18640113     TMAX       -4.3   24.26
14  ITE00100550  18640115     TMAX       -3.1   26.42

         station  datetime obs_type  obs_value  TMAX_F
217  ITE00100550  18640805     TMAX       33.5   92.30
213  ITE00100550  18640801     TMAX       33.5   92.30
220  ITE00100550  18640808     TMAX       34.1   93.38
214  ITE00100550  18640802     TMAX       34.6   94.28
221  ITE00100550  18640809     TMAX       34.8   94.64

First observation on:
 1864-01-17 00:00:00
Last observation on:
 1864-08-09 00:00:00

> **Ex 4.1.7:** CSV-files: save your DataFrame as a CSV file. what does index argument do?

> Try to save the file using a relative path and an absolut path. 
With a relative you only specify the file name. This will save the file in the folder you are currently working in. With an absolute path, you specify the whole path, which allows you to save the file in a folder of your choice

In [60]:
# [Answer to Ex. 4.1.7]

# We save file to CSV setting our index to file IN THIS EXAMPLE because the index column does not contain information

# Saving using relative path
df_maxtemp.to_csv('Weather.csv', index=False)
#Saving using absolute path
df_maxtemp.to_csv(r'C:\Users\bjorn\Dropbox\Politstudie\7. semester\Social Data Science\Exercises\Weather_abspath.csv', index=False)

> **(Bonus) Ex. 4.1.8**: A very compact way of writing code and making list in Python, is called list comprehensions. Depending on what you are doing, list can be more or less efficient that for example vectorized operations using NumPy. 

>Read about list comprehenseions online, and use it to make a list with the numbers from 0 to a million (10\*\*6), and add 3 to each element. Do the same doing NumPy, and time both methods. Which method is faster? 

> *Hint 1*: Use the `timeit` package for timing each method

In [94]:
%%timeit
# List comprehension normal code
[i+3 for i in range(10**6)]

110 ms ± 1.4 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [95]:
%%timeit
# Numpy list comprehension
np.arange(10**6 + 3)

2.07 ms ± 63.9 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)